{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block content %}
<div class="ui">
    <div class="ui menu fixed" style="max-width: 80rem;left: 50%;transform: translateX(-50%);">
        <a class="item ui button" href="/home">Asosiy sahifa</a>
        <a class="item" href="/ustalar">Ustalar</a>
        <a class="item" href="{% url 'chats' %}">Chatlar</a>
        <div class="right menu">
      <a class="item" href="{% url 'master' other %}">{{ other }}</a>
        </div>
    </div>
</div>
  <div class='container'>
    <h2 style="text-align: center">Suhbat</h2>
    <div id="chat_log">
      {% for msg in room_messages %}
      <div class="row" style="display:flex;margin-bottom:0.5rem;">
        <p class="message {% if username == msg.sender.username %}self{% else %}other{% endif %}">{{msg.content}}</p>
      </div>
      
      {% endfor %}
    </div>
  </div>
     <div class="inputForm">
      <input id="chat-message-input" type="text">
      <input id="chat-message-submit" type="button" value="Send">
    </div>


    <style>
    .container{
    min-height: 80vh;
    padding: 0 3rem;
    padding-bottom: 10rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}
    .message{
    display: inline;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    max-width: 70vw;
}
    .self{
    margin-right: 0.5rem;
    background-color: white;
    margin-left: auto;
}
    .other{
    margin-left: 0.5rem;
    background-color: rgba(0,0,0,0.3);
}
    .inputForm{
    position: fixed;
    display: flex;
    width:100%;
    bottom: 3rem;
    justify-content: center;
}
    #chat-message-input{
    width: 90vw;
    min-width: 10rem;
    border-radius: 1rem;
    padding: 0 0.5rem;
    font-size: 1.5rem;
}
    </style>



    <script>
        const msg_log = document.getElementById("chat_log")
        const roomName = "{{ room }}";
        const username = "{{ username }}"
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.username == username){
              msg_log.innerHTML += `<div class="row" style="display:flex;margin-bottom:0.5rem;"><p class="message self">${data.message}</p></div>`;
            }else{
              msg_log.innerHTML += `<div class="row" style="display:flex;margin-bottom:0.5rem;"><p class="message other">${data.message}</p></div>`;
            };
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({'message': message,"username":username}));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}

