{% extends "base.html" %}

{% block title %}Asosiy sahifa{% endblock %}

{% block content %}
<!-- Navbar -->
 <style>
    #categoryChecker{
        display: none;
    }
    .categoryCheckerLabel:hover{
        cursor: pointer;
    }
    #categoryMenu{
        display: none;
    }

 </style>
<div class="ui container">
    <div class="ui menu fixed" style="max-width: 80rem;left: 50%;transform: translateX(-50%);">
        <a class="item" href="/home">Asosiy sahifa</a>
        <a class="item" href="/ustalar">Ustalar</a>
        <a class="item">Chatlar</a>
            <div class="right menu">

            <a class="item">
                <input type="checkbox" id="categoryChecker">
                <label for="categoryChecker" class="categoryCheckerLabel">Kategoriya</label>
            </a>

            <a href="{% url 'dashboard' %}" class="item">Profil</a>
            </div>
    </div>

    <div id="categoryMenu">
        <div class="ui menu fixed" style="max-width: 80rem;left: 50%;transform: translateX(-50%);top: 5%;">
            {% for category in categorys %}
                <a class="item" href="/ustalar/{{ category }}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>

</div>
<!-- Main section -->
<div class="ui container rounded" style="margin-top: 7rem; border-width: 6px; height:100%">
    <div class="ui grid">
        <div class="row">
            <div class="column ui center aligned rounded">
                <h1 class="ui header">Bu sayt haqida ma'lumot</h1>
                <div class="ui grid">
                    <div class="eight wide column" style="border: 1px solid #d4d4d5;">
                        <h3>Ustalar</h3>
                        <p style="font-size: medium; font-weight: 500;">Ushbu web saytda siz usta sifatida o'z ishlaringizni na'munalarini joylashingiz va ko'proq klentlarga ega bo'lishingiz mumkin. Siz qilgan ishingizga qarab sizga klentlaringiz baha berishadi va sizning mavqeyingiz bu saytda oshib boraveradi. Mavqeingiz oshgani sarin sayt sizni ko'proq klentlarga tavsiya qilishni boshlaydi.</p>
                    </div>
                    <div class="eight wide column" style="border: 1px solid #d4d4d5;">
                        <h3>Klientlar</h3>
                        <p style="font-size: medium; font-weight: 500;">Ushbu web saytni siz o'z ehtiyojingizga qarab ustalarni topib ular bilan o'z vazifangizni kelishish uchun ishlatishingiz mumkin. Ushbu saytda siz uzingizni yumushushingizga moslab ustalarni, ularni reytingiga qarab filterlab va ularni oldingi ishlaridan na'munalarni ko'rib murojat qilishingiz mumkin bo'ladi.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <h1>Va boshqa ma'lumotlar...</h1>
        </div>      
    </div>
</div>
<!-- Footer -->
<div class="ui inverted vertical footer segment container" style="width:100%;bottom:0;">
    <h1>Footer</h1>
</div>

<script>
    const checkbox = document.getElementById('categoryChecker');
    const menu = document.getElementById('categoryMenu');
  
    checkbox.addEventListener('change', function() {
      menu.style.display = this.checked ? 'block' : 'none';
    });
</script>

{% endblock %}
