{% extends "base.html" %}

{% block title %}Test{% endblock %}

{% block content %}
<div class="ui container segment" style="margin-top: 1rem;">
  <h1>Ro'yhatdan o'tish</h1>
  <form class="ui form" method="post">
    {% csrf_token %}
    <div class="field">
      <label>Email</label>
      {{ form.email }}
      {% if form.email.errors %}
        <div class="ui pointing red basic label">
          {% for error in form.email.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="field">
      <label>Username</label>
      {{ form.username }}
    </div>
    <div class="field">
      <label>Parol</label>
      {{ form.password1 }}
    </div>
    <div class="field">
      <label>Parol(takrorlash)</label>
      {{ form.password2 }}
    </div>
    <div class="field">
      <div class="ui checkbox">
        {{ form.user_status }}
        <label>Usta sifatida ro'yhatdan o'tayabsiz?</label>
      </div>
    </div>
    <button class="ui inverted secondary button" type="submit">Jo'natish</button>
    <a type="button" href="{% url 'login' %}" style="padding: 0.5rem;">Login</a>
  </form>
  {% if form.errors %}
    <div class="ui error message">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock %}

